@font-face{
    font-family: big_noodle_titling;
    src: url("../fonts/big_noodle_titling.ttf");
}

html{
    padding: 0;
    margin: 0;
}

#backBtn{
    margin: 2% 2%;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 10px #aaaaaa;
    opacity: .5;
    position: fixed;
}

#backBtn:hover{
    box-shadow: 0 0 12px #979797;
    opacity: 1;
}

#backArrow{
    width: 70%;
    margin-left: 15%;
    margin-top: 18%;
}

.heading-container{
    display: flex;
    width: 60%;
    margin-left: 20%;
    justify-content: space-between;
    align-items: center;
}

.heading-container h1, .heading-container h2{
    margin: 0;
    font-family: big_noodle_titling;
    font-weight: 100;
    text-align: center;
}

.line{
    width: 35%;
    height: 3px;
}

.mainHead{
    margin-top: 2em;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    margin: 4em 35%;
    text-align: center;
}

.imgContainer{
    width: 60%;
    margin: 4em 20%;
    border-radius: 8px;
    box-shadow: 0px 3px 15px #aaaaaa;
    overflow: hidden;
}

.content-img{
    width: 100%;
    vertical-align: top;
}

.split-content-img{
    width: 50%;
    float: left;
}

.last{
    margin-bottom: 4em;
}

#logo{
    width: 8%;
    margin-left: 45.9%;
    margin-top: 2em;
}

